<!DOCTYPE html>
<html>
<head>
  <title>Dweeb</title>
  <%= stylesheet_link_tag    "bookmarks" %>
  <%= javascript_include_tag "bookmarks" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
